= simple_form_for @talent, html: { role: 'form' } do |f|
  .row.row-eq-height
    .col-md-6.col-sm-12
      .card.card-block
        .form-group
          = f.label :name, class: "control-label"
          = f.input :name, input_html: { class: "form-control boxed" }, label: false
        .form-group
          = f.label :tier, class: "control-label"
          = f.input :tier, as: :select, collection: [1, 2, 3, 4, 5], label: false, input_html: { class: "form-control boxed" }
        .form-group
          = f.label :activation, class: "control-label"
          = f.input :activation, as: :select, collection: ['Active (Action)', 'Active (Incidental, Out of Turn)', 'Passive', 'Active (Incidental)', 'Active (Maneuver)'], label: false, input_html: { class: "form-control boxed" }
        .form-group
          = f.input :ranked, input_html: { class: "" }

        .form-group
          = f.submit nil, class: 'btn btn-primary'
          = link_to t('.cancel', default: t("helpers.links.cancel")), talents_path, class: 'btn btn-secondary'

  .row
    .col-sm-12
      .card.card-block
        .form-group
          = f.label :description, class: "control-label"
          = f.input :description, placeholder: 'Talent description', label: false, as: :text, input_html: { rows: 20, cols: 25, class: 'tinymce form-control' }

= tinymce