- content_for :title do
  Talents

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Talents
  .btn-toolbar.mb-2.mb-md-0
    .btn-group.mr-2
      - if can? :create, @talent
        /%button.btn.btn-sm.btn-outline-secondary Share
        = link_to "New".html_safe, new_talent_path, class: "btn btn-sm btn-outline-secondary"
      %button.btn.btn-sm.btn-outline-secondary Print
.subtitle-block
  =# render "search/facets", path: talents_path, facets: @talents.aggs
.row
  .card-columns
    - @talents.each do |talent|
      .card.mb-3
        .card-header.text-center.text-white{ class: "card-tier-#{talent.tier}"}
          Tier
          = talent.tier
        .card-body.bg-transparent
          %h5.card-title= "#{talent.name}"
          = text_replace_tokens(talent.description).html_safe
        - if can? :manage, @talent
          .card-footer.text-white.p-0{ class: "card-tier-#{talent.tier}"}
            %ul.nav.justify-content-center
              %li.nav-item
                = link_to content_tag('span', '', data: { feather: 'trash' } ), talent, data: {confirm: "Are you sure you want to delete '#{talent.name}'?"}, method: :delete, class: 'nav-link remove'
              %li.nav-item
                = link_to content_tag('span', '', data: { feather: 'edit-2' } ), edit_talent_path(talent), class: 'nav-link edit'
.row
  =# paginate @talents