%p#notice= notice

%p
  %b Name:
  = @talent.name
%p
  %b Description:
  = @talent.description
%p
  %b Tier:
  = @talent.tier
%p
  %b Activation:
  = @talent.activation
%p
  %b Ranked:
  = @talent.ranked
%p
  %b Slug:
  = @talent.slug


= link_to 'Edit', edit_talent_path(@talent)
\|
= link_to 'Back', talents_path
