<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="card">
    <%= image_tag "terrinoth.png", width: '72', alt: "Terrinoth", class: 'card-img-top my-4' %>
    <%= devise_error_messages! %>
    <div class="card-body">
      <%= render partial: 'layouts/flash' %>
      <h5 class="card-title">Sign up</h5>
      <div class="form-group">
        <%= f.email_field :username, autofocus: true, class: 'form-control', placeholder: "Username" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email Address" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
<% end %>
