#confirm-modal.modal.fade
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title
          %i.fa.fa-warning
          Alert
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p Are you sure want to do this?
      .modal-footer
        %button.btn.btn-primary.approve{"data-dismiss" => "modal", :type => "button"} Yes
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} No
