#modal-media.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Media Library
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
      .modal-body.modal-tab-container
        %ul.nav.nav-tabs.modal-tabs{:role => "tablist"}
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#gallery", :role => "tab"} Gallery
          %li.nav-item
            %a.nav-link.active{"data-toggle" => "tab", :href => "#upload", :role => "tab"} Upload
        .tab-content.modal-tab-content
          #gallery.tab-pane.fade{:role => "tabpanel"}
            .images-container
              .row
          #upload.tab-pane.fade.active.in{:role => "tabpanel"}
            .upload-container
              #dropzone
                %form#demo-upload.dropzone.needsclick.dz-clickable{:action => "/", :enctype => "multipart/form-data", :method => "POST"}
                  .dz-message-block
                    .dz-message.needsclick Drop files here or click to upload.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Insert Selected
