= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  - if @user.errors.any?
    .alert-box.warning.radius{"data-alert" => ""}
      %p
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .row
    .medium-6.small-12.columns
      .row
        .small-3.columns
          = f.label :username, class: 'inline right'
        .small-9.columns
          = f.input :username, label: false
      .row
        .small-3.columns
          = f.label :email, class: 'inline right'
        .small-9.columns
          = f.input :email, label: false
      /.row
      /  .small-3.columns
      /    = f.label :first_name, class: 'inline right'
      /  .small-9.columns
      /    = f.input :first_name, label: false
      / .row
      /   .small-3.columns
      /     = f.label :last_name, class: 'inline right'
      /   .small-9.columns
      /     = f.input :last_name, label: false
      /.row
      /  .small-3.columns
      /    = f.label :enabled, class: 'inline right'
      /  .small-9.columns
      /    = f.input :enabled, label: false
      - if can? :manage, User
        .row
          .small-3.columns
            = f.label :superadmin_role, class: 'inline right'
          .small-9.columns
            = f.input :superadmin_role, as: :select, label: false
        .row
          .small-3.columns
            = f.label :editor_role, class: 'inline right'
          .small-9.columns
            = f.input :editor_role, as: :select, label: false
        .row
          .small-3.columns
            = f.label :player_role, class: 'inline right'
          .small-9.columns
            = f.input :player_role, as: :select, label: false

      .row
        .small-12.columns
          .form-actions
            = f.submit nil, class: 'button'
            - if @user.new_record?
              = link_to t('.cancel', default: t("helpers.links.cancel")), users_path, class: 'button secondary'
            - else
              = link_to t('.cancel', default: t("helpers.links.cancel")), user_path, class: 'button secondary'
