- content_for :title do
  = "Users"
.title-block
  %h1.title
    Users
    - if can? :create, User
      = link_to content_tag('span', '', data: { feather: 'plus-circle' } ), new_user_path
.subtitle-block
  - if can? :create, User
    Switch
    = switch_user_select

.row
  .col-sm-12
    %table.table.table-striped#users-index{style: "width: 100%;"}
      %thead.thead-dark
        %tr
          %th Username
          %th Email
          %th Role
          %th Sign ins
          %th Last sign in
          %th
      - @users.each do |user|
        %tbody
          %tr
            %td= user.username
            %td= user.email
            %td=# user.role
            %td= user.sign_in_count
            %td= user.last_sign_in_at
            %td= link_to "<i class='fi-pencil'>edit</i>".html_safe, edit_user_path(user)
