<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="card">
    <%= image_tag "terrinoth.png", width: '72', alt: "Terrinoth", class: 'card-img-top my-4' %>
    <%= devise_error_messages! %>
    <div class="card-body">
      <%= render partial: 'layouts/flash' %>
      <h5 class="card-title">Reset your password</h5>
      <br>
      <p class="text-center">Enter your email address below and we will send you a link to reset your password.</p>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Send password reset email", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
<% end %>
