= simple_form_for @skill, html: { role: 'form' } do |f|
  .row.row-eq-height
    .col-md-6.col-sm-12
      .card.card-block
        .form-group
          = f.label :name, class: "control-label"
          = f.input :name, input_html: { class: "form-control boxed" }, label: false
        .form-group
          = f.label :characteristic, class: "control-label"
          = f.input :characteristic, as: :select, collection: ['Agility', 'Brawn', 'Cunning', 'Intellect', 'Presence', 'Willpower'], label: false, input_html: { class: "form-control boxed" }
        .form-group
          = f.label :skill_type, class: "control-label"
          = f.input :skill_type, as: :select, collection: ['Social', 'General', 'Knowledge', 'Combat', 'Magic'], label: false, input_html: { class: "form-control boxed" }
        .form-group
          = f.submit nil, class: 'btn btn-primary'
          = link_to t('.cancel', default: t("helpers.links.cancel")), skills_path, class: 'btn btn-secondary'
  .row
    .col-sm-12
      .card.card-block
        .form-group
          = f.label :description, class: "control-label"
          = f.input :description, placeholder: 'Skill description', label: false, as: :text, input_html: { rows: 20, cols: 25, class: 'tinymce form-control' }

= tinymce