- content_for :title do
  Skills

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1 Skills
  .btn-toolbar.mb-2.mb-md-0
    .btn-group.mr-2
      - if can? :create, @skill
        /%button.btn.btn-sm.btn-outline-secondary Share
        = link_to "New".html_safe, new_skill_path, class: "btn btn-sm btn-outline-secondary"
      %button.btn.btn-sm.btn-outline-secondary Print
.subtitle-block
  =# render "search/facets", path: skills_path, facets: @skills.aggs
.row
  .card-columns
    - @skills.each do |skill|
      .card.skill.example.mb-3{ class: "card-skilltype-#{skill.skill_type}"}
        .card-header.text-center
          = skill.skill_type
        .card-body.bg-transparent
          %h4.card-title
            = skill.name
            %br
            ="[#{skill.characteristic}]"
          = text_replace_tokens(skill.description.html_safe)

        - if can? :manage, @skill
          .p-0.action-links
            %ul.nav.justify-content-center
              %li.nav-item
                = link_to content_tag('span', '', data: { feather: 'trash' } ), skill, data: {confirm: "Are you sure you want to delete '#{skill.name}'?"}, method: :delete, class: 'nav-link remove'
              %li.nav-item
                = link_to content_tag('span', '', data: { feather: 'edit-2' } ), edit_skill_path(skill), class: 'nav-link edit'
