%p#notice= notice

%p
  %b Name:
  = @skill.name
%p
  %b Description:
  = @skill.description.html_safe
%p
  %b Characteristic:
  = @skill.characteristic
%p
  %b Type:
  = @skill.skill_type


= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
