= form_for @item_quality do |f|
  - if @item_quality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item_quality.errors.count, "error")} prohibited this item_quality from being saved:"
      %ul
        - @item_quality.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :activation
    = f.text_field :activation
  .actions
    = f.submit 'Save'
