.nested-fields.mt-2
  .form-group.col-sm-8
    = f.input :item_quality_id, as: :select, collection: ItemQuality.all, label: false, input_html: { class: "form-control boxed" }
  .form-group.col-sm-2
    = f.label :ranks, class: "control-label"
    = f.input :ranks, label: false, input_html: { class: "form-control boxed" }
  .form-group.col-sm-2
    = link_to_remove_association "Remove quality", f
  %hr
