%div{ id: "ItemQualities#{type}#{item_id}" }
  - qualities.each_with_index do |q, index|
    %a.badge.badge-primary.mr-1{"aria-controls" => "#collapse_quality-#{index}-#{q[:id]}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse_quality-#{index}-#{q[:id]}", :role => "button"}
      ="#{q[:name]}#{' ' if q[:ranked]}#{q[:ranks] if q[:ranked]}".strip
  - qualities.each_with_index do |q, index|
    .row.mt-1
      .col
        .collapse{id: "collapse_quality-#{index}-#{q[:id]}", "data-parent" => "#ItemQualities#{type}#{item_id}"}
          .card.card-body
            - if q[:description].present?
              %strong="#{q[:name]}#{' ' if q[:ranks] != 0}#{q[:ranks] if q[:ranks] != 0}".strip
              = text_replace_tokens(q[:description])