%h1 Listing item_qualities

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Activation
      %th
      %th
      %th

  %tbody
    - @item_qualities.each do |item_quality|
      %tr
        %td= item_quality.name
        %td= item_quality.description
        %td= item_quality.activation
        %td= link_to 'Show', item_quality
        %td= link_to 'Edit', edit_item_quality_path(item_quality)
        %td= link_to 'Destroy', item_quality, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item quality', new_item_quality_path
