%p#notice= notice

%p
  %b Name:
  = @item_quality.name
%p
  %b Description:
  = @item_quality.description
%p
  %b Activation:
  = @item_quality.activation

= link_to 'Edit', edit_item_quality_path(@item_quality)
\|
= link_to 'Back', item_qualities_path
