- content_for :title do
  About

.row
  .col-sm-12
    %h1
      About the Genesys Adversary Bank
.row
  .col-sm-12
    %p A tool for finding adversaries for your Genesys RPG campaign. Find the advesary you need through the tagging system.
    %p Each adversary is detailed with the information you need to run it in a game.
    %p Create minion groups and see their current skill dice pools and Wound Threshold as you add or remove minions.

    %h3 Supported settings
    %ul
      %li All core settings from the Genesys Core Rulebook
      %li Realms of Terrinoth

    %h3 Things to come
    %ul
      %li Some type of text search or list filtering for the index page.
      %li Shadow of the Beanstalk adversaries (as soon as I get hold of the book).
      %li
        = link_to 'RPG Dice Roller', 'http://rpg-dice-roller.herokuapp.com/genesys', target: "_blank"
        integration. Make rolls directly from the skill lists.

    %h3 Who made this?
    %p My name is Christian, and I'm a web developer working with Drupal professionally and Ruby on Rails as a hobby. I'm a major Star Wars geek and Pen&Paper RPG gamer.

    %h3 Why make this?
    %p I created this app mainly because of my love of RPG gaming and especially the narrative system from Fantasy Flight Games' Star Wars and Genesys, but also for the programming experience.

    %p If you love what I've  created then please  consider a donation to support my work. This is a hobby project and thus it run on a free hosting platform. Any donations will go towards upgrading the hosting plan.
    =#%p
    =#  This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA International</a> license.
    =#  %br
    =#  %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-nc-sa/4.0/' }
    =#    %img{ alt: 'Creative Commons License', style: 'border-width:0', src: 'https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png' }

    %h3 There's a bug
    %p Well accidents do happen. Please report them on the <a href="https://bitbucket.org/Cenix/genesys-adversaries/issues" target="_blank">issues page</a> or message me on the <a href="https://community.fantasyflightgames.com/profile/180951-cenix/">FFG forum</a>, and I'll get right on it.

    %h3 I have a suggestion
    %p
      %strong Excellent!
      Any suggestions for improvements or additions is happily accepted.
      Please submit your suggestion on the <a href="https://bitbucket.org/Cenix/genesys-adversaries/issues" target="_blank">issues page</a>, or or message me on the <a href="https://community.fantasyflightgames.com/profile/180951-cenix/">FFG forum</a>.
