- content_for :title do
  Updates

.row
  .col-sm-12
    %h1
      Updates
.row
  .col-sm-12
    %dl.row
      %dt.col-sm-2 6. July 2019
      %dd.class.col-sm-10
        Added adversaries from the Terrinoth Gen-Con module "The Haunted City".
      %dt.col-sm-2 11. July 2019
      %dd.class.col-sm-10
        Implemented dataTables for the adversary index to support filtering and search.
      %dt.col-sm-2 19. November 2019
      %dd.class.col-sm-10
        Added adversaries from the Android: Shadow of the Beanstalk setting.
        Added some adversaries converted from D&D.
