<%- content_for :title do %>
  <%= "Log in" %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card">
    <%= image_tag "terrinoth.png", width: '72', alt: "Terrinoth", class: 'card-img-top my-4' %>
    <%= devise_error_messages! %>
    <div class="card-body">
      <%= render partial: 'layouts/flash' %>
      <h5 class="card-title">Log in</h5>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
<% end %>
