/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
//$body-bg: #d9e0e7;
$body-bg: transparent;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$nav-tabs-border-color:             $gray-900 !default;
//$nav-tabs-border-width:             $border-width !default;
//$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-active-border-color: $gray-900 $gray-900 $nav-tabs-link-active-bg !default;
$table-dark-color: $white;

//@import "terrinoth";

@import "bootstrap";
@import "jquery.dataTables";
@import "component-custom-switch.min";
@import "users";
@import "dice";
@import "symbols";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "selectize";
@import "selectize.bootstrap3";

body {
  font-size: .875rem;
}


@import "forms";

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.5rem;
  }
}

#rollModal {
  .modal-dialog {
    height: 90%;
  }
  .modal-content {
    height: 100%;
  }
}

td.details-control {
  background: image-url('details_open.png') no-repeat center center;
  cursor: pointer;
  width: 30px;
}
tr.shown td.details-control {
    background: image-url('details_close.png') no-repeat center center;
}
td.action-column {
  width: 30px;
}

.help-popover {
  cursor: help;
}

.pool_die {
  margin-right: 1px;
}

.badge-nemesis {
  @extend .badge-danger;
}
.badge-rival {
  @extend .badge-warning;
}
.badge-minion {
  @extend .badge-info;
}

#tag_cloud {
  .small { font-size: 0.6em; }
  .medium { font-size: 0.8em; }
  .large { font-size: 1.0em; }
  .great { font-size: 1.2em; }
}

#full-skill-list {
  display:none;
}

#minion-count {
  .fa-male, .fa-skull {
    margin-right: 3px;
  }
}

#minion-decrease {
  display:none;
}

#characteristics, #vitals {
  .card-footer, .card-header {
    font-size: 0.6rem;
    padding: 0.25rem 0;
  }
  .card-block {
    padding: 0.75rem;

    .h5 {
      font-size: 0.75rem !important;
    }
  }
  .card-title {
    margin-bottom: 0;
  }
}

#characteristics {
  #brawn, #intellect {
    padding-right: 1px;
  }
  #agility, #willpower {
    padding: 0 8px;
  }
  #cunning, #presence {
    padding-left: 1px;
  }
  .card {
    border: none;
    background: none;
    img {
      width: 100%;
    }
    .card-title {
      font-size: 2rem;
    }
    .card-block {
      position: absolute;
      width: 100%;
    }
  }
}

#vitals {
  #soak {
    padding-right: 2px;
  }
  #defenses {
    padding-right: 2px;

    #melee-def {
      left: 0;
      padding-right: 0;
      width: 50%
    }
    #ranged-def {
      right: 0;
      padding-left: 0;
      width: 50%
    }
  }
  #wound-threshold {
    padding-left: 2px;
  }
  #strain-threshold {
    padding-left: 2px;
  }
  .card {
    border: none;
    background: none;
    img {
      width: 100%;
    }
    .card-title {
      font-size: 2rem;
    }
    .card-block {
      padding-top: 20px;
      padding-bottom: 0;
      position: absolute;
      width: 100%;
    }
  }
}

th {
  img.challenge-rating {
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid white;
    width: 40px;
  }
}


dl.dl-striped {
  dd:nth-of-type(odd),
  dt:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  dd {
    float: left;
    font-size: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0;
    padding-top: .5rem;
    margin-bottom: 0;
  }
  dt {
    float: left;
    padding-top: .5rem;
    padding-bottom: 0;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
}


// OTHER STYLES

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &.navbar-dark {
    a.nav-link {
      color: $gray-600;

      &.active {
        color: $gray-100;
      }
    }
  }

  .nav-link {
    font-weight: 500;
    color: #333;

    .feather {
      margin-right: 4px;
      color: #999;
    }

    &.active {
      color: #007bff;
    }
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/*
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}*/

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 58px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar {
  padding: 0 1rem;

  .form-control {
    padding: 1;
    border-width: 0;
    border-radius: 0;
  }
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Cards
 */
.card {
  .nav-link {
    color: $white;
  }
  p, li {
    font-size: 1.0rem;
    letter-spacing: unset !important;
  }
  small {
    font-size: 0.8rem;
    letter-spacing: unset !important;
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.card-tier-1 {
  background-color: $primary;
}
.card-tier-2 {
  background-color: $info;
}
.card-tier-3 {
  background-color: $success;
}
.card-tier-4 {
  background-color: $warning;
}
.card-tier-5 {
  background-color: $danger;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

@media print {
  @import "print";
}