/* Star Wars RPG dice */
td.pool {
  height: 1em;
  padding: 0;
  padding-top: 0.45rem;
}

/* ABILITY Proficiency Difficulty Challenge Success Failure Advantage Threat Triumph Despair Setback/Boost Force Force-Points   */

i.ability {
  background-image: url(<%= asset_path('dice/ability_1.png') %>);
  background-repeat: repeat-x;
  background-size: 1.2em;
  display: inline-block;
  height: 100%;
  width: 1.2em;
  position: relative;
  //top: 0.2em;
}
i.ability.x0 {
  display: none;
}
i.ability.x1 {
  width: 1.2em;
}
i.ability.x2 {
  width: 2.4em;
}
i.ability.x3 {
  width: 3.6em;
}
i.ability.x4 {
  width: 4.75em;
}
i.ability.x5 {
  width: 6em;
}
i.ability.x6 {
  width: 7.2em;
}
i.ability.x7 {
  width: 8.4em;
}
i.ability.x8 {
  width: 9.6em;
}
/* end Ability */


/* Ability PROFICIENCY Difficulty Challenge Success Failure Advantage Threat Triumph Despair Setback/Boost Force Force-Points   */

i.proficiency {
  background-image: url(<%= asset_path('dice/proficiency_1.png') %>);
  background-repeat: repeat-x;
  background-size: 1.6em;
  display: inline-block;
  height: 100%;
  width: 1.2em;
  position: relative;
  //top: 0.2em;
}
i.proficiency.x0 {
  display: none;
}
i.proficiency.x1 {
  width: 1.55em;
}
i.proficiency.x2 {
  width: 3.1em;
}
i.proficiency.x3 {
  width: 4.65em;
}
i.proficiency.x4 {
  width: 6.2em;
}
i.proficiency.x5 {
  width: 7.75em;
}
i.proficiency.x6 {
  width: 9.3em;
}
i.proficiency.x7 {
  width: 10.85em;
}
i.proficiency.x8 {
  width: 12.4em;
}


/* Ability Proficiency DIFFICULTY Challenge Success Failure Advantage Threat Triumph Despair Setback/Boost Force Forcepoints   */

i.easy, i.average, i.hard, i.daunting, i.impossible,
i.difficulty {
  background-image: url(<%= asset_path('dice/difficulty.gif') %>);
  background-repeat: repeat-x;
  background-size: 0.8em;
  display: inline-block;
  height: 1.1em;
  width: 0.8em;
  position: relative;
  top: 0.2em;
}
i.average,
i.difficulty.x2 {
  width: 1.6em;
}
i.hard,
i.difficulty.x3 {
  width: 2.36em;
}
i.daunting,
i.difficulty.x4 {
  width: 3.16em;
}
i.impossible,
i.difficulty.x5 {
  width: 3.96em;
}
i.easy.white, i.average.white, i.hard.white, i.daunting.white, i.impossible.white, i.difficulty.white,
blockquote:not(.example) i.easy, blockquote:not(.example) i.average, blockquote:not(.example) i.hard,
blockquote:not(.example) i.daunting, blockquote:not(.example) i.impossible, blockquote:not(.example) i.difficulty {
  background-image: url(<%= asset_path('dice/difficulty-white.gif') %>);
}

/* Ability Proficiency Difficulty CHALLENGE Success Failure Advantage Threat Triumph Despair Setback/Boost Force Forcepoints   */

i.challenge {
  background-image: url(<%= asset_path('dice/challenge.gif') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1.1em;
  width: 1em;
  position: relative;
  top: 0.25em;
}
i.challenge.x2 {
  width: 2em;
}
i.challenge.x3 {
  width: 3em;
}
i.challenge.x4 {
  width: 4em;
}
i.challenge.x5 {
  width: 5em;
}

blockquote:not(.example) i.challenge, i.challenge.white {
  background-image: url(<%= asset_path('dice/challenge-white.gif') %>);
}

/* Ability Proficiency Difficulty Challenge SUCCESS Failure Advantage Threat Triumph Despair Setback/Boost Force Forcepoints   */

i.success {
  background-image: url(<%= asset_path('dice/success-black.png') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
}
i.success.x2 {
  width: 2em;
}
i.success.x3 {
  width: 3em;
}
i.success.x4 {
  width: 4em;
}
i.success.x5 {
  width: 5em;
}

blockquote:not(.example) i.success, i.success.white {
  background-image: url(<%= asset_path('dice/success-black.png') %>);
}

/* Ability Proficiency Difficulty Challenge Success FAILURE Advantage Threat Triumph Despair Setback/Boost Force Forcepoints   */

i.failure {
  background-image: url(<%= asset_path('dice/failure-black.png') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
}
i.failure.x2 {
  width: 2em;
}
i.failure.x3 {
  width: 3em;
}
i.failure.x4 {
  width: 4em;
}
i.failure.x5 {
  width: 5em;
}

blockquote:not(.example) i.failure, i.failure.white {
  background-image: url(<%= asset_path('dice/failure-white.png') %>);
}

/* Ability Proficiency Difficulty Challenge Success Failure ADVANTAGE Threat Triumph Despair Setback/Boost Force Forcepoints   */

i.advantage {
  background-image: url(<%= asset_path('dice/advantage-black.png') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
  top: 0.3em;
}
i.advantage.x2 {
  width: 2em;
}
i.advantage.x3 {
  width: 3em;
}
i.advantage.x4 {
  width: 4em;
}
i.advantage.x5 {
  width: 5em;
}

blockquote:not(.example) i.advantage, i.advantage.white {
  background-image: url(<%= asset_path('dice/advantage-white.png') %>);
}

/* Ability Proficiency Difficulty Challenge Success Failure Advantage THREAT Triumph Despair Setback/Boost Force Forcepoints   */

i.threat {
  background-image: url(<%= asset_path('dice/threat-black.png') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
  top: 0.2em;
}
i.threat.x2 {
  width: 2em;
}
i.threat.x3 {
  width: 3em;
}
i.threat.x4 {
  width: 4em;
}
i.threat.x5 {
  width: 5em;
}

blockquote:not(.example) i.threat, i.threat.white {
  background-image: url(<%= asset_path('dice/threat-white.png') %>);
}


/* Ability Proficiency Difficulty Challenge Success Failure Advantage Threat TRIUMPH Despair Setback/Boost Force Forcepoints   */

i.triumph {
  background-image: url(<%= asset_path('dice/triumph-black.png') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1.2em;
  width: 1em;
  position: relative;
  top: 0.2em;
}
i.triumph.x2 {
  width: 2em;
}
i.triumph.x3 {
  width: 3em;
}
i.triumph.x4 {
  width: 4em;
}
i.triumph.x5 {
  width: 5em;
}

blockquote:not(.example) i.triumph, i.triumph.white {
  background-image: url(<%= asset_path('dice/triumph-white.png') %>);
}

/* Ability Proficiency Difficulty Challenge Success Failure Advantage Threat Triumph DESPAIR Setback/Boost Force Forcepoints   */

i.despair {
  background-image: url(<%= asset_path('dice/despair-black.png') %>);
  background-repeat: repeat-x;
  background-size: 1.1em;
  display: inline-block;
  height: 1.1em;
  width: 1em;
  position: relative;
  top: 0.1em;
}
i.despair.x2 {
  width: 2.1em;
}
i.despair.x3 {
  width: 3.2em;
}
i.despair.x4 {
  width: 4.3em;
}
i.despair.x5 {
  width: 5.4em;
}

blockquote:not(.example) i.despair, i.despair.white {
  background-image: url(<%= asset_path('dice/despair-white.png') %>);
}

/* Ability Proficiency Difficulty Challenge Success Failure Advantage Threat Triumph Despair SETBACK/BOOST Force Forcepoints   */

i.setback,
i.boost {
  background-color: #a5d7f3;
  border: 1.5px solid black;
  display: inline-block;
  height: 1em;
  width: 1em;

  margin-left: 3px;
  margin-right: 2px;
}
blockquote:not(.example) i.setback, blockquote:not(.example) i.boost,
i.boost.white, i.setback.white {
  border-color: white;
}

i.setback {
  background-color: black;
}

/* Ability Proficiency Difficulty Challenge Success Failure Advantage Threat Triumph Despair Setback/Boost FORCE Force-Points   */

i.force {
  background-image: url(<%= asset_path('dice/force.gif') %>);
  background-repeat: repeat-x;
  background-size: 1em;
  display: inline-block;
  height: 1.1em;
  width: 1em;
  position: relative;
  top: 0.25em;
}
i.force.x2 {
  width: 2em;
}
i.force.x3 {
  width: 3em;
}
i.force.x4 {
  width: 4em;
}
i.force.x5 {
  width: 5em;
}

blockquote:not(.example) i.force, i.force.white {
  background-image: url(<%= asset_path('dice/force-white.png') %>);
}

/* Ability Proficiency Difficulty Challenge Success Failure Advantage Threat Triumph Despair Setback/Boost Force FORCEPOINTS   */

i.light, i.dark {
  background: white;
  border-radius: 50%;
  border: 1.5px solid black;
  display: inline-block;
  height: 1em;
  width: 1em;
}
blockquote:not(.example) i.light, i.light.white {
  border-color: white;
}

i.dark {
  background-color: black;
  border: 1.5px solid black;
}
blockquote i.dark, i.light.dark {
  border-color: white;
}

i.forcepoint {
  background-image: url(<%= asset_path('dice/forcepoint.png') %>);
  background-repeat: repeat-x;
  background-size: 0.85em;
  display: inline-block;
  height: 1em;
  width: 0.85em;
  position: relative;
  top: 0.1em;
}
i.forcepoint.x2 {
  width: 1.65em;
}
i.forcepoint.x3 {
  width: 2.45em;
}
i.forcepoint.x4 {
  width: 3.3em;
}
i.forcepoint.x5 {
  width: 4.1em;
}

blockquote:not(.example) i.forcepoint, i.forcepoint.white {
  background-image: url(<%= asset_path('dice/forcepoint-white.png') %>);
}

/* end Star Wars RPG dice */