#NavBarLeft {
  //display: none !important
}

html {
  background: #fff !important;
}

main {
  width: 100% !important;
  margin-left: 0 !important;
  background: #fff !important;
}
main.col-md-9.ml-sm-auto.col-lg-10.px-4{
  width: 100% !important;
  max-width: unset !important;
  margin: 0 !important;

  width: 100% !important;
      max-width: unset !important;
      margin: 0 !important;
      flex: unset;
}

.characters {
  .tab-content {
    border: none;

  }
}
