$font_0: Genesys;
$font_1: Genesys1;

// Colors.
$color_falu_red_approx: #761213;
$color_grain_brown_approx: #dfcfb5;
$color_tango_approx: #ea702b;
$gray:  gray;
$color_thatch_approx: #b5a192;
$white: white;
$color_tuscany_approx: #c05734;
$color_punga_approx: #56391b;
$black: black;
$color_old_copper_approx: #724a2d;
$color_guardsman_red_approx: #c00;
$color_witch_haze_approx: #fff793;
$color_aquamarine_blue_approx: #76cddb;
$color_persian_plum_approx: #751317;
$color_golden_fizz_approx: #fef035;
$color_honey_flower_approx: #52287e;
$color_chateau_green_approx: #46ac4e;

.symbols {
  font-family: $font_0;
}
.dice {
  font-family: $font_1;
}
.setback {
  font-family: $font_1;
  color: $black;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
}
.boost {
  font-family: $font_1;
  color: $color_aquamarine_blue_approx;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
}
.challenge {
  font-family: $font_1;
  color: $color_persian_plum_approx;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
}
.proficiency {
  font-family: $font_1;
  color: $color_golden_fizz_approx;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  font-size: 1.3rem;
}
.difficulty {
  font-family: $font_1;
  color: $color_honey_flower_approx;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
}
.ability {
  font-family: $font_1;
  color: $color_chateau_green_approx;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  font-size: 1.3rem;
}

//@font-face {
//  font-family: $font_0;
//  src: local('Genesys');
//}
//@font-face {
//  font-family: $font_1;
//  src: local('EotE Symbol');
//}

@font-face {
  font-family: $font_0;
  src: font-url('Genesys.ttf') format('truetype');
  //src: url('<%= asset_path('dice/Genesys.ttf') %>') format('truetype');
}
@font-face {
  font-family: $font_1;
  src: font-url('EotESymbol-RegularMod.otf');
  //src: url(<%= asset_path('dice/EotESymbol-RegularMod.otf') %>);
}
