/**
 * Terrinoth Theme
 * https://www.gmbinder.com/share/-LAd3GBwVpsjlo3MsYeB
 */

 /* NOTE FOR IVELD - Bolton and JSL Ancient are free fonts that can be hosted. The other default fonts are not free, so i've found similar fonts available on google web fonts to import */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  //font-size: .875rem;
  font-size: 1rem;
  //background-image: url(genesys-bg.png);
  font-family: 'EB Garamond', serif;
}

html {
  //background: url(terrinoth-bg.jpg) no-repeat center center fixed;
  background: image-url("blank-parchment-3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//colors
$color_falu_red_approx: #761213;
$color_grain_brown_approx: #dfcfb5;
$color_tango_approx: #ea702b;
$gray:  gray;
$color_thatch_approx: #b5a192;
$white: white;
$color_tuscany_approx: #c05734;
$color_punga_approx: #56391b;
$black: black;
$color_old_copper_approx: #724a2d;
$color_guardsman_red_approx: #c00;
$color_witch_haze_approx: #fff793;
$color_aquamarine_blue_approx: #76cddb;
$color_persian_plum_approx: #751317;
$color_golden_fizz_approx: #fef035;
$color_honey_flower_approx: #52287e;
$color_chateau_green_approx: #46ac4e;

//fonts
$font_0: Genesys;
$font_1: Genesys1;
$font_2: EB Garamond;
$font_3: serif;
$font_4: Bolton;
$font_5: PT Sans;
$font_6: sans-serif;
$font_7: JSL Ancient;

//urls
$url_1: url(notes-top.png);
$url_2: url(notes-bottom.png);
$url_3: url(page-note-bottom.png);
$url_4: url(page-note-top.png);
$url_5: url(notes-top-bg.png);
$url_6: url(page-note-bottom-bg.png);
$url_7: url(page-note-top-bg.png);
$url_8: url(https://www.gmbinder.com/images/ImVMfBQ.png);
$url_9: url(https://www.gmbinder.com/images/qlfPZDn.png);
$url_10: url(https://www.gmbinder.com/images/Gx0Yt8z.png);
$url_11: url(none);

$url_12: url(archetype.png);
$url_13: url(adversary.png);
$url_14: url(minion.png);

// Bootstrap overrides.
$table-accent-bg: $color_thatch_approx;
$link-color: $color_punga_approx;

//@extend-elements
//original selectors
//.phb h1, .phb h2, .phb h3, .phb h4, .phb h5, .phb h6
%extend_1 {
  letter-spacing: 0.6px;
  font-family: $font_4;
  text-align: left;
}

//original selectors
//.phb h1 +p:first-letter, .phb h2 +p:first-letter
%extend_2 {
  font-family: $font_4;
  color: $color_falu_red_approx;
  font-size: 24.3pt;
  line-height: 100%;
  margin-bottom: -9px;
  margin-right: 4px;
  margin-top: 0;
  float: left;
}

//original selectors
//.phb .footnote, .phb:nth-child(even) .footnote
%extend_3 {
  color: $color_old_copper_approx;
  font-family: $font_7;
  font-size: 8pt;
  vertical-align: center;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 300px;
}

#NavBarLeft {
  a.nav-link  {
    font-size: 15px;
    font-family: Bolton;
  }
  .nav-item.sub {
    a.nav-link  {
      font-size: 12px;
    }
  }
  .menu-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 11px;
    background: rgb(127, 130, 131);
    padding: 4px;
    border: 1px solid black;
  }
  .nav-item.sub {
    list-style-type: none;
    .menu-item-icon {
      width: 30px;
      height: 30px;
    }
  }
}

main[role='main'] {
  text-align: justify;
  text-indent: 0;
  font-family: $font_2, $font_3;
  //background-image: url(terrinoth-bg.jpg);

  h1 {
    @extend %extend_1;
    color: $color_falu_red_approx;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22pt;
    margin-bottom: 30px;
    + p:first-letter {
      @extend %extend_2;
    }
  }
  h2 {
    @extend %extend_1;
    color: $color_falu_red_approx;
    text-transform: uppercase;
    font-size: 16pt;
    font-weight: 300;
    + p:first-letter {
      @extend %extend_2;
    }
  }
  h3 {
    @extend %extend_1;
    color: $color_falu_red_approx;
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: 1;
    border: none;
  }
  h4 {
    @extend %extend_1;
    color: $color_grain_brown_approx;
    text-transform: uppercase;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 15px;
    + p:first-letter {
      font-family: $font_4;
      color: $color_grain_brown_approx;
      font-size: 24.3pt;
      line-height: 100%;
      margin-bottom: -9px;
      margin-right: 2px;
      margin-top: 2px;
      float: left;
    }
  }
  h5 {
    @extend %extend_1;
    color: $color_falu_red_approx;
    font-weight: 1;
    text-transform: uppercase;
    font-size: 16pt;
    text-align: left;
  }
  h6 {
    @extend %extend_1;
    color: $color_falu_red_approx;
    text-transform: uppercase;
    font-size: 16pt;
    display: table;
    //border-bottom: 1px solid $color_tango_approx;
  }
  .wide-note-top {
    width: 100%;
    color: $color_grain_brown_approx;
    padding: 10px 20px;
    font-family: $font_2;
    letter-spacing: 0.5px;
    font-size: 12ptx;
    background-color: $color_punga_approx;
    padding-top: 75px;
    //Instead of the line below you could use @include column-count($count)
    column-count: 2;
    //Instead of the line below you could use @include column-gap($width)
    column-gap: 1cm;
    column-fill: auto;
    h4 {
      //Instead of the line below you could use @include column-span($columns)
      column-span: all;
    }
    .bg-top {
      position: absolute;
      width: 100%;
      height: 223px;
      top: -15px;
      left: 0;
      z-index: 2;
      background-image: $url_7;
      background-repeat: no-repeat;
      background-size: 687px 223px;
    }
    .bg-bot {
      position: absolute;
      width: 100%;
      height: 223px;
      bottom: 25px;
      left: 0;
      z-index: 2;
      background-image: $url_8;
      background-repeat: no-repeat;
      background-size: 687px 223px;
    }
    p {
      z-index: 5;
    }
    ul {
      z-index: 5;
    }
  }
  .wide-note-bottom {
    width: 687px;
    color: $color_grain_brown_approx;
    padding: 10px 20px;
    font-family: $font_2;
    letter-spacing: 0.5px;
    font-size: 12ptx;
    background-color: $color_punga_approx;
    padding-bottom: 75px;
    //Instead of the line below you could use @include column-count($count)
    column-count: 2;
    //Instead of the line below you could use @include column-gap($width)
    column-gap: 1cm;
    column-fill: auto;
    h4 {
      //Instead of the line below you could use @include column-span($columns)
      column-span: all;
    }
    .bg-top {
      position: absolute;
      width: 100%;
      height: 223px;
      top: 25px;
      left: 0;
      z-index: 2;
      background-image: $url_5;
      background-repeat: no-repeat;
      background-size: 687px 223px;
    }
    .bg-bot {
      position: absolute;
      width: 100%;
      height: 223px;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-image: $url_6;
      background-repeat: no-repeat;
      background-size: 687px 223px;
    }
    p {
      z-index: 5;
    }
    ul {
      z-index: 5;
    }
  }
  p {
    //font-size: 9pt;
    letter-spacing: -0.4px;
    line-height: 1.15em;
    text-indent: 0 !important;
    font-weight: 400;
    padding-bottom: 1px;
    column-fill: balance;
    + p {
      margin-top: 0;
    }
  }
  wide {
    clear: both;
  }
  //ul {
  //  list-style: none;
  //  li::before {
  //    content: "•";
  //    color: $color_falu_red_approx;
  //    display: inline-block;
  //    width: 1em;
  //    margin-left: -1em;
  //  }
  //}
  td {
    font-family: $font_2, $font_3;
    //font-size: 8pt;
    font-weight: 400;
    //text-align: left;
    border: 1px solid $gray;
  }
  table {
    overflow: auto;
    thead {
      display: table-row-group;
      th {
        //color: $white;
        //background-color: $color_tuscany_approx;
        padding-top: 0.3em;
        padding-left: 0.5em;
        text-transform: uppercase;
        font-family: $font_4, $font_3;
        font-weight: 400;
      }
    }
    tbody tr {
      &:nth-child(odd) {
        //background: transparent;
      }
      td {
        padding: 0.5em;
      }
    }
    tr:nth-child(even) td {
      //background-color: $color_thatch_approx;
    }
  }
  .note {
    position: relative;
    width: 289px;
    color: $color_grain_brown_approx;
    padding: 10px 20px;
    font-family: $font_2;
    letter-spacing: 0.5px;
    font-size: 12ptx;
    background-color: $color_punga_approx;
    margin-left: 15px;
    .bg-top {
      position: absolute;
      width: 100%;
      height: 223px;
      top: -50px;
      left: 0;
      z-index: 2;
      background-image: $url_9;
      background-repeat: no-repeat;
      background-size: 289px 223px;
    }
    .bg-bot {
      position: absolute;
      width: 100%;
      height: 223px;
      bottom: -50px;
      left: 0;
      z-index: 2;
      background-image: $url_10;
      background-repeat: no-repeat;
      background-size: 289px 223px;
    }
    p {
      z-index: 5;
    }
    ul {
      z-index: 5;
    }
    h5 {
      color: $white;
    }
    td {
      color: $black;
      > {
        .setback {
          //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
        }
        .boost {
          //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
        }
        .challenge {
          //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
        }
        .proficiency {
          //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
        }
        .difficulty {
          //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
        }
      }
      &.ability {
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
      }
    }
    .setback {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px 0 $color_grain_brown_approx,0 1px $color_grain_brown_approx,1px 0 $color_grain_brown_approx,0 -1px $color_grain_brown_approx;
    }
    .boost {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px 0 $color_grain_brown_approx,0 1px $color_grain_brown_approx,1px 0 $color_grain_brown_approx,0 -1px $color_grain_brown_approx;
    }
    .challenge {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px 0 $color_grain_brown_approx,0 1px $color_grain_brown_approx,1px 0 $color_grain_brown_approx,0 -1px $color_grain_brown_approx;
    }
    .proficiency {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px 0 $color_grain_brown_approx,0 1px $color_grain_brown_approx,1px 0 $color_grain_brown_approx,0 -1px $color_grain_brown_approx;
    }
    .difficulty {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px 0 $color_grain_brown_approx,0 1px $color_grain_brown_approx,1px 0 $color_grain_brown_approx,0 -1px $color_grain_brown_approx;
    }
    .ability {
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px 0 $color_grain_brown_approx,0 1px $color_grain_brown_approx,1px 0 $color_grain_brown_approx,0 -1px $color_grain_brown_approx;
    }
    table tr:nth-child(even) td {
      background-color: $white;
    }
  }
  .note-wrapper {
    &:before {
      content: " ";
      background-image: $url_1;
      height: 64px;
      width: 289px;
      position: relative;
      left: 0;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 15px;
    }
    &:after {
      content: " ";
      background-image: $url_2;
      height: 64px;
      width: 289px;
      position: relative;
      left: 0;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 15px;
    }
  }
  .wide-note-wrapper-top {
    //Instead of the line below you could use @include column-span($columns)
    column-span: all;
    position: relative;
    top: -76px;
    margin-bottom: -65px;
    &:after {
      content: " ";
      background-image: $url_4;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      height: 89px;
      width: 100%;
    }
  }
  .wide-note-wrapper-bottom {
    //Instead of the line below you could use @include column-span($columns)
    column-span: all;
    position: absolute;
    bottom: 0;
    left: 1.7cm;
    &:before {
      content: " ";
      background-image: $url_3;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      height: 89px;
      width: 100%;
    }
  }
  .example {
    position: relative;
    color: $white;
    background: $color_old_copper_approx;
    background: linear-gradient(135deg, transparent 10px, $color_guardsman_red_approx 0) top left, linear-gradient(225deg, transparent 10px, $color_guardsman_red_approx 0) top right, linear-gradient(315deg, transparent 10px, $color_guardsman_red_approx 0) bottom right, linear-gradient(45deg, transparent 10px, $color_guardsman_red_approx 0) bottom left;
    background-repeat: no-repeat;
    background-size: 51% 51%;
    background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, $color_old_copper_approx 15px), radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, $color_old_copper_approx 15px), radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, $color_old_copper_approx 15px), radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, $color_old_copper_approx 15px);
    padding: 14px 20px;
  }
  .read {
    display: block;
    font-family: $font_5, $font_6;
    font-size: 10pt;
    font-style: italic;
    color: $color_witch_haze_approx;
    padding: 15px;
    position: relative;
    background-color: $color_falu_red_approx;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0, calc(100% - var(--notchSize)) 0, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0 calc(100% - var(--notchSize)) );
  }
  &:nth-child(even) {
    .pageNumber {
      color: $color_falu_red_approx;
      left: 5px;
      bottom: 22px;
      width: 50px;
      text-align: center;
      font-family: $font_4;
      font-size: 12pt;
    }
    .footnote {
      @extend %extend_3;
    }
  }
  .footnote {
    @extend %extend_3;
    .p {
      font-size: 4.2pt;
    }
  }
  &:after {
    background-image: $url_11;
  }
  .symbols {
    font-family: $font_0;
  }
  .dice {
    font-family: $font_1;
  }
  .setback {
    font-family: $font_1;
    color: $black;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  }
  .boost {
    font-family: $font_1;
    color: $color_aquamarine_blue_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  }
  .challenge {
    font-family: $font_1;
    color: $color_persian_plum_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  }
  .proficiency {
    font-family: $font_1;
    color: $color_golden_fizz_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  }
  .difficulty {
    font-family: $font_1;
    color: $color_honey_flower_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  }
  .ability {
    font-family: $font_1;
    color: $color_chateau_green_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: -1px 0 $black,0 1px $black,1px 0 $black,0 -1px $black;
  }
  .archetype {
    background-image: $url_12;
    height: 62px;
    width: 329px;
    background-size: 100%;
    .bra {
      position: relative;
      left: 18px;
      top: 17px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblbra {
      position: relative;
      left: 19px;
      top: 13px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .agi {
      position: relative;
      left: 45px;
      top: 16px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblagi {
      position: relative;
      left: 45px;
      top: 13px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .int {
      position: relative;
      left: 72px;
      top: 16px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblint {
      position: relative;
      left: 68px;
      top: 13px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .cun {
      position: relative;
      left: 98px;
      top: 16px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblcun {
      position: relative;
      left: 95px;
      top: 13px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .wil {
      position: relative;
      left: 124px;
      top: 16px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblwil {
      position: relative;
      left: 119px;
      top: 13px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .pre {
      position: relative;
      left: 150px;
      top: 16px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblpre {
      position: relative;
      left: 148px;
      top: 13px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
  }
  .adversary {
    background-image: $url_13;
    height: 80px;
    width: 344px;
    background-position: -3px 0;
    background-size: 102%;
    font-family: $font_4;
    position: relative;
    .bra {
      position: relative;
      left: 38px;
      top: 8px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblbra {
      position: relative;
      left: 38px;
      top: 3px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .agi {
      position: relative;
      left: 57px;
      top: 8px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblagi {
      position: relative;
      left: 56px;
      top: 3px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .int {
      position: relative;
      left: 76px;
      top: 8px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblint {
      position: relative;
      left: 72px;
      top: 3px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .cun {
      position: relative;
      left: 95px;
      top: 8px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblcun {
      position: relative;
      left: 93px;
      top: 3px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .wil {
      position: relative;
      left: 114px;
      top: 8px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblwil {
      position: relative;
      left: 108px;
      top: 3px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .pre {
      position: relative;
      left: 133px;
      top: 8px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblpre {
      position: relative;
      left: 130px;
      top: 3px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .lblsoak {
      position: relative;
      left: 31px;
      top: 5px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .soak {
      position: relative;
      left: 42px;
      top: 6px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .lblwound {
      position: relative;
      left: 59px;
      top: 5px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .wound {
      position: relative;
      left: 91px;
      top: 6px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .lblstrain {
      position: relative;
      left: 89px;
      top: 5px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .strain {
      position: relative;
      left: 139px;
      top: 6px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .lbldef {
      position: relative;
      left: 120px;
      top: 5px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .mdef {
      position: relative;
      left: 178px;
      top: 6px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .rdef {
      position: relative;
      left: 170px;
      top: 6px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
  }
  .minion {
    background-image: $url_14;
    height: 80px;
    width: 344px;
    background-position: 27px 0;
    background-repeat: no-repeat;
    background-size: 85%;
    font-family: $font_4;
    font-size: 14pt;
    position: relative;
    .bra {
      position: relative;
      left: 42px;
      top: 1px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblbra {
      position: relative;
      left: 42px;
      top: -14px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .agi {
      position: relative;
      left: 58px;
      top: 1px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblagi {
      position: relative;
      left: 58px;
      top: -14px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .int {
      position: relative;
      left: 73px;
      top: 1px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblint {
      position: relative;
      left: 70px;
      top: -14px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .cun {
      position: relative;
      left: 88px;
      top: 1px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblcun {
      position: relative;
      left: 87px;
      top: -14px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .wil {
      position: relative;
      left: 104px;
      top: 1px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblwil {
      position: relative;
      left: 98px;
      top: -14px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .pre {
      position: relative;
      left: 118px;
      top: 1px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-family: $font_4;
      font-size: 9pt;
    }
    .lblpre {
      position: relative;
      left: 116px;
      top: -14px;
      text-align: center;
      display: inline-block;
      width: 25px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .lblsoak {
      position: relative;
      left: 72px;
      top: -24px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .soak {
      position: relative;
      left: 82px;
      top: -31px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .lblwound {
      position: relative;
      left: 100px;
      top: -24px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .wound {
      position: relative;
      left: 130px;
      top: -31px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .lbldef {
      position: relative;
      left: 127px;
      top: -24px;
      text-align: center;
      display: inline-block;
      width: 45px;
      font-family: $font_2;
      font-size: 4.5pt;
      color: $white;
    }
    .mdef {
      position: relative;
      left: 167px;
      top: -31px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
    .rdef {
      position: relative;
      left: 153px;
      top: -31px;
      width: 25px;
      text-align: center;
      display: inline-block;
      font-size: 9pt;
    }
  }
  .index-letter {
    color: $color_falu_red_approx;
    font-size: 9pt;
    font-weight: bold;
    font-family: $font_4;
    line-height: 1.1em;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .index {
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    max-width: 329px;
    li::before {
      content: "";
    }
    li {
      display: flex;
      span:first-child {
        margin-right: 0.2em;
        order: 1;
      }
    }
    li::after {
      content: "";
      border-bottom: 1px dotted;
      flex-grow: 1;
      order: 2;
      position: relative;
      top: -5px;
    }
    span + span {
      order: 3;
      margin-left: 0.2em;
    }
  }
  &:nth-child(odd) .pageNumber {
    color: $color_falu_red_approx;
    right: 5px;
    bottom: 22px;
    width: 50px;
    text-align: center;
    font-family: $font_4;
    font-size: 12pt;
  }
}
body::after {
  background-image: none;
}
th {
  border: 1px solid $gray;
}
@font-face {
  font-family: $font_0;
  src: local('Genesys');
}
@font-face {
  font-family: $font_1;
  src: local('EotE Symbol');
}


/**

 <div class="wide">


 # Table of Contents

 </div>

 <div style="margin-top:25px;"></div>


 <ul class="index">
 <li><span><b>Chapter I: Page Formatting</b></span><span>1</span></li>
 <li><span>Apple</span><span>32</span></li>
 <li><span>Angry</span><span>25</span></li>
 </ul>

 <div class="note-wrapper">
 <div class='note'>
 <div class="bg-top"></div>

 #### Note Boxes & Symbol Key


 <br />
 <span class='symbols'>a</span> = Advantage<br>
 <span class='symbols'>h</span> = Threat<br>
 <span class='symbols'>f</span> = Failure<br>
 <span class='symbols'>s</span> = Success<br>
 <span class='symbols'>t</span> = Triumph<br>
 <span class='symbols'>d</span> = Despair<br>
 <span class='setback'>b</span> = Setback Dice<br>
 <span class='boost'>b</span> = Boost Dice<br>
 <span class='difficulty'>d</span> = Difficulty Dice<br>
 <span class='ability'>d</span> = Ability Dice<br>
 <span class='challenge'>c</span> = Challenge Dice<br>
 <span class='proficiency'>c</span> = Proficiency Dice <br>

 You can create a "Note" box like this with `<div class='note'></div>`. To create the dice and their symbols

 <div class="bg-bot"></div>
 </div>
 </div>

 <div style="margin-top:10px;"></div>





 \columnbreak

 <div style="margin-top:0px;"></div>


 <ul class="index">
 <li><span>Bangarang</span><span>42</span></li>
 <li><span>Batman</span><span>33, 126</span></li>
 </ul>

 <div style="margin-top:30px;"></div>

 ### Creating Dice Symbols

  To create the dice and their symbols, use:

 `<span class='symbols'>a, h, f, s, t, d </span>`
 `<span class='setback'>b</span>`
 `<span class='boost'>b</span`
 `<span class='difficulty'>d</span>`
 `<span class='ability'>d</span>`
 `<span class='challenge'>c</span>`
 `<span class='proficiency'>c</span>`

 <div style="margin-top:25px;"></div>

 ### Example: Example Boxes

 <div class='example'>

 For "Example" text boxes like this, simply use `<div class='example'></div>`

 </div>

 <div style="margin-top:25px;"></div>

 <div class="read">

 For "Read Aloud" text boxes like this, simply use `<div class='read'></div>`

 </div>

 <div class="wide-note-wrapper-bottom">
 <div class="wide-note-bottom">

 <div class="bg-top"></div>

 #### Table of Contents

 A table of contents can be created just like above - use the UL class of "index". You may need to manually adjust the height of the columns - if you need you can do so with an empty div using the margin-top tag, as in the example. Large style bottom-page notes can be created with the code you see here. As you can see, it requires 3 separate divs to achieve these - i'd keep the code for these handy as a copy paste until they are available as code snippets in the tool.

 The last page of this document contains an index created using nearly the same code as for the table of contents - the only difference is the addition of the "index-letter" to seperate the index out alphabetically.

 In general all note blocks in the Terrinoth book are used to expand upon lore or to display side thoughts about the subject matter. avoid using notes to contain tables or any mechanical information when possible - they are not formatted to work together particularly well.

 <div class="bg-bot"></div>
 </div>
 </div>



 <div class="footnote">THEME TESTER<BR />
 <p>GENESYS</p>
 </div>

 \pagebreakNum

 <div class="wide-note-wrapper-top">
 <div class="wide-note-top">
 <div class="bg-top"></div>

 #### Top Notes

 A top-algined note can be created with this code. Be sure not to use the "footer" on these pages. The code for the footer is:

 `<div class="footnote">THEME TESTER<BR />`
 `<p>GENESYS</p>`
 `</div>`

 In general, you'll want to use the name of your document at the top, and the chapter underneath.



 <div class="bg-bot"></div>
 </div>
 </div>

 ## Stat Blocks

 You can create a number of stat blocks as seen in the book with the following code:


 ### Archetype Statblock


 <div class="archetype">
 <span class="bra">121</span>
 <span class="agi">2</span>
 <span class="int">3</span>
 <span class="cun">4</span>
 <span class="wil">5</span>
 <span class="pre">6</span>
 <br>
 <span class="lblbra">BRAWN</span>
 <span class="lblagi">AGILITY</span>
 <span class="lblint">INTELLECT</span>
 <span class="lblcun">CUNNING</span>
 <span class="lblwil">WILLPOWER</span>
 <span class="lblpre">PRESENCE</span>
 </div>

 `<div class="archetype">`<br>
 `<span class="bra">1</span>`<br>
 `<span class="agi">2</span>`<br>
 `<span class="int">3</span>`<br>
 `<span class="cun">4</span>`<br>
 `<span class="wil">5</span>`<br>
 `<span class="pre">6</span>`<br>
 `<br>` <br>
 `<span class="lblbra">BRAWN</span>`<br>
 `<span class="lblagi">AGILITY</span>`<br>
 `<span class="lblint">INTELLECT</span>`<br>
 `<span class="lblcun">CUNNING</span>`<br>
 `<span class="lblwil">WILLPOWER</span>`<br>
 `<span class="lblpre">PRESENCE</span>`<br>
 `</div>`




 <div style="margin-top:25px;"></div>

 ### Rival and Minion Stat Block

 <div class="minion">
 <span class="bra">121</span>
 <span class="agi">2</span>
 <span class="int">3</span>
 <span class="cun">4</span>
 <span class="wil">5</span>
 <span class="pre">6</span>
 <br>
 <span class="lblbra">BRAWN</span>
 <span class="lblagi">AGILITY</span>
 <span class="lblint">INTELLECT</span>
 <span class="lblcun">CUNNING</span>
 <span class="lblwil">WILLPOWER</span>
 <span class="lblpre">PRESENCE</span>
 <br>
 <span class="lblsoak">SOAK VALUE</span>
 <span class="lblwound">W. THRESHOLD</span>
 <span class="lbldef">M/R DEFENSE</span>
 <br>
 <span class="soak">7</span>
 <span class="wound">18</span>
 <span class="mdef">0</span>
 <span class="rdef">1</span>
 </div>

 <div style="margin-top:25px;"></div>

 The only difference between the Minion/Rival stat block and the nemesis one is the class - use "minion" for the class instead of "adversary". Additionally, you'll want to delete the lblstrain and strain spans.

 \columnbreak

 <div style="margin-top:25px;"></div>




 ### Nemesis Stat Block

 <div class="adversary">
 <span class="bra">121</span>
 <span class="agi">2</span>
 <span class="int">3</span>
 <span class="cun">4</span>
 <span class="wil">5</span>
 <span class="pre">6</span>
 <br>
 <span class="lblbra">BRAWN</span>
 <span class="lblagi">AGILITY</span>
 <span class="lblint">INTELLECT</span>
 <span class="lblcun">CUNNING</span>
 <span class="lblwil">WILLPOWER</span>
 <span class="lblpre">PRESENCE</span>
 <br>
 <span class="lblsoak">SOAK VALUE</span>
 <span class="lblwound">W. THRESHOLD</span>
 <span class="lblstrain">S. THRESHOLD</span>
 <span class="lbldef">M/R DEFENSE</span>
 <br>
 <span class="soak">7</span>
 <span class="wound">18</span>
 <span class="strain">19</span>
 <span class="mdef">0</span>
 <span class="rdef">1</span>
 </div>


 `<div class="adversary">`<br>
 `<span class="bra">121</span>`<br>
 `<span class="agi">2</span>`<br>
 `<span class="int">3</span>`<br>
 `<span class="cun">4</span>`<br>
 `<span class="wil">5</span>`<br>
 `<span class="pre">6</span>`<br>
 `<br>`<br>
 `<span class="lblbra">BRAWN</span>`<br>
 `<span class="lblagi">AGILITY</span>`<br>
 `<span class="lblint">INTELLECT</span>`<br>
 `<span class="lblcun">CUNNING</span>`<br>
 `<span class="lblwil">WILLPOWER</span>`<br>
 `<span class="lblpre">PRESENCE</span>`<br>
 `<br>`<br>
 `<span class="lblsoak">SOAK VALUE</span>`<br>
 `<span class="lblwound">W. THRESHOLD</span>`<br>
 `<span class="lblstrain">S. THRESHOLD</span>`<br>
 `<span class="lbldef">M/R DEFENSE</span>`<br>
 `<br>`<br>
 `<span class="soak">7</span>`<br>
 `<span class="wound">18</span>`<br>
 `<span class="strain">19</span>`<br>
 `<span class="mdef">0</span>`<br>
 `<span class="rdef">1</span>`<br>
 `</div>`<br>








 \pagebreakNum


 <div class="wide">


 # Index

 </div>

 <div style="margin-top:25px;"></div>

 <span class="index-letter">A</span>
 <ul class="index">
 <li><span>Apple</span><span>32</span></li>
 <li><span>Angry</span><span>25</span></li>
 </ul>

 <div style="margin-top:50px;"></div>

 ##### Chart of Examples
 | Roll | Result |
 |:---:|:---:|
 | <span class='symbols'>a or t</span> |  Recover 1 strain. Add <span class='boost'>b</span> to next check by yourself or  ally. |
 | <span class='symbols'>aa or t</span> | Perform an immediate free maneuver (still max 2 per turn). Add <span class='boost'>b</span> to next skill check by opponent. |
 | <span class='symbols'>aaa or t</span> | Negate enemy defense. Ignore environment. Damage a target's gear/limbs. Gain +1 defense for 1 turn. |



 \columnbreak

 <div style="margin-top:25px;"></div>

 <span class="index-letter">B</span>
 <ul class="index">
 <li><span>Bangarang</span><span>42</span></li>
 <li><span>Batman</span><span>33, 126</span></li>
 </ul>

 <div class="footnote">THEME TESTER<BR />
 <p>GENESYS</p></div>

 <div style="margin-top:50px;"></div>


 ### Change Log

 * 5/30/18 - Finished Initial Document




 \pagebreakNum
 <style>
     #p4{ display: none;}
 </style>
 **/
