body.registrations.new,
body.sessions.new,
body.passwords.new {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center!important;

  .card-img-top {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

form {
  &.form-signin,
  &.new_user {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
}