.nested-fields.row.py-2.my-1{style: "border-bottom: 1px solid #ccc;"}
  .col-sm-4
    = f.text_field :name, class: 'form-control', placeholder: 'Name'
  .col-sm-6
    = f.input :description, placeholder: 'Description', label: false, as: :text, input_html: { rows: 5, cols: 20, class: 'tinymce form-control' }
  .col-sm-2
    = link_to_remove_association "Remove Ability", f, class: 'btn btn-sm btn-danger'

:javascript
  tinymce.init({
    selector: '#abilities .tinymce',
    menubar: false,
    toolbar: 'bold italic | undo redo'
  });
