- unless ranks.nil? or score.nil?
  - if score < ranks
    - ability = ranks - score
    - proficiency = score
  - else
    - ability = score - ranks
    - proficiency = ranks

  =#%i{:class => "proficiency x#{proficiency}"}
  =#%i{:class => "ability x#{ability}"}
  %span.proficiency<
    - proficiency.times do
      = "c"
  %span.ability<
    - ability.times do
      = "d"

  /- proficiency.times do
  /  = image_tag('dice/proficiency_1.png', alt: 'Proficiency', class: 'pool_die')
  /- ability.times do
  /  = image_tag('dice/ability_1.png', alt: 'Ability', class: 'pool_die')
