- if score < ranks
  - ability = ranks - score
  - proficiency = score
- else
  - ability = score - ranks
  - proficiency = ranks

- if local_assigns.has_key? :difficulty
  - diff = difficulty
- else
  - diff = 0

%button.btn.btn-primary.btn-sm{"data-target" => "#rollModal", "data-toggle" => "modal", "data-url" => "https://rpg-dice-roller.herokuapp.com/genesys?embed=modal&keep=false&log=false&a=#{ability}&p=#{proficiency}&b=0&d=#{diff}", :type => "button"}
  = icon('fas', 'dice-d6')
  Roll
  = icon('fas', 'dice-d20')
