= simple_form_for(adversary, :defaults => { label: nil, :input_html => { :class => "form-control" } }) do |f|
  - if adversary.errors.any?
    #error_explanation
      %h2
        = pluralize(adversary.errors.count, "error")
        prohibited this adversary from being saved:
      %ul
        - adversary.errors.full_messages.each do |message|
          %li= message
  .form-row
    .col
      = f.input :name
    .col
      = f.input :tag_list, input_html: {value: adversary.tag_list.to_s}
      = f.input :setting_list, input_html: {value: adversary.setting_list.to_s}
  .form-row
    .form-group.col
      = f.input :description, placeholder: 'Description', label: false, as: :text, input_html: { rows: 10, class: 'tinymce form-control' }

  .form-row.mb-3
    .col
      .input-group
        .input-group-prepend
          %span.input-group-text Bra
        = f.input_field :brawn, label: false
    .col
      .input-group
        .input-group-prepend
          %span.input-group-text Agi
        = f.input_field :agility, label: false
    .col
      .input-group
        .input-group-prepend
          %span.input-group-text Int
        = f.input_field :intellect, label: false
    .col
      .input-group
        .input-group-prepend
          %span.input-group-text Cun
        = f.input_field :cunning, label: false
    .col
      .input-group
        .input-group-prepend
          %span.input-group-text Wil
        = f.input_field :willpower, label: false
    .col
      .input-group
        .input-group-prepend
          %span.input-group-text Pre
        = f.input_field :presence, label: false

  .form-row.mb-3
    .col-md-4
      .input-group
        .input-group-prepend
          %span.input-group-text Soak
        = f.input_field :soak, label: false
    .col-md-4
      .input-group
        .input-group-prepend
          %span.input-group-text Wounds
        = f.input_field :wound_th, label: false
    .col-md-4
      .input-group
        .input-group-prepend
          %span.input-group-text Strain
        = f.input_field :strain_th, label: false

  .form-row.mb-3
    .col-sm-4
      .input-group
        .input-group-prepend
          %span.input-group-text Def. Ranged
        = f.input_field :defense_ranged, label: false
    .col-sm-4
      .input-group
        .input-group-prepend
          %span.input-group-text Def. Melee
        = f.input_field :defense_melee, label: false
    .col-sm-4
      .input-group
        .input-group-prepend
          %span.input-group-text Type
        = f.input_field :adversary_type, label: false

  .form-group
    = f.input :image_url
  .row
    .col.mb-3
      .card
        .card-body
          %h5.card-title Abilities
          #abilities
            = f.simple_fields_for :abilities do |ability_form|
              = render 'ability_fields', f: ability_form
            = link_to_add_ability_fields "#{icon('fas', 'plus')} Add Ability".html_safe, f, :abilities
        .card-footer
  .row
    .col.mb-3
      .card
        .card-body
          %h5.card-title Spells
          #spells
            = f.simple_fields_for :spells do |spell_form|
              = render 'spell_fields', f: spell_form
            = link_to_add_spell_fields "#{icon('fas', 'plus')} Add Spell".html_safe, f, :spells
        .card-footer
  .row
    .col.mb-3
      .card
        .card-body
          %h5.card-title Weapons
          #abilities
            = f.simple_fields_for :weapons do |weapon_form|
              = render 'weapon_fields', f: weapon_form
            = link_to_add_weapon_fields "#{icon('fas', 'plus')} Add Weapon".html_safe, f, :weapons
        .card-footer

  .row
    .col.mb-3
      .card
        .card-body
          %h5.card-title Skills
          #skills
            = f.simple_fields_for :skills do |skill|
              = render 'skill_fields', f: skill
            = link_to_add_skill_fields "#{icon('fas', 'plus')} Add Skill".html_safe, f, :skills
        .card-footer

  .row
    .col.mb-3
      .card
        .card-body
          %h5.card-title Talents
          #talents
            = f.fields_for :talents do |talent_form|
              = render 'talent_fields', f: talent_form
            = link_to_add_talent_fields "#{icon('fas', 'plus')} Add Talent".html_safe, f, :talents
        .card-footer

  .actions
    = f.submit nil, class: 'btn btn-success'

:javascript
  tinymce.init({
    selector: '#adversary_description',
    menubar: false,
  });

:coffeescript
  options = {
    plugins: ['remove_button', 'restore_on_backspace']
    delimiter: ','
    maxItems: null
    hideSelected: true
    valueField: 'name'
    searchField: 'name'
    labelField: 'name'
    create: true
    options: #{@tags.to_json.html_safe}
    items: #{adversary.tag_list.to_json.html_safe}
  }
  $('#adversary_tag_list').selectize(options)

  options = {
    plugins: ['remove_button', 'restore_on_backspace']
    delimiter: ','
    maxItems: null
    hideSelected: true
    valueField: 'name'
    searchField: 'name'
    labelField: 'name'
    create: true
    options: #{@settings.to_json.html_safe}
    items: #{adversary.setting_list.to_json.html_safe}
  }
  $('#adversary_setting_list').selectize(options)
