.nested-fields.row
  .col-sm-6
    = f.input :id, as: :select, label: false, collection: Skill.all, :input_html => { :class => 'form-control'}
  .col-sm-2
    = f.label :rank
  .col-sm-2
    = f.number_field :rank, class: 'form-control'
  .col-sm-2
    = link_to_remove_association "Remove Skill", f, class: 'btn btn-sm btn-danger'

