.nested-fields.row.py-2.my-1{style: "border-bottom: 1px solid #ccc;"}
  .col-sm-10
    .row
      .col-sm-4
        = f.text_field :name, class: 'form-control', placeholder: 'Name'
      .col-sm-6
        = f.input :skill_id, as: :select, label: false, collection: Skill.where(skill_type: 'Combat'), :input_html => { :class => 'form-control'}
      .col-sm-4
        = f.number_field :damage, class: 'form-control', placeholder: 'Damage'
      .col-sm-4
        = f.number_field :critical, class: 'form-control', placeholder: 'Critical'
      .col-sm-4
        = f.text_field :range, class: 'form-control', placeholder: 'Range'
        =# f.text_field :qualities, class: 'form-control', placeholder: 'Range'
      .col-sm-4
    .row
      .col-sm-12
        %h5.card-title Item Qualities
        .card
          .card-body
            %h5.card-title Qualities
            = f.object.qualities.inspect
            #weapon_qualities
              .row
                - 5.times do |i|
                  - quality_id = nil
                  - rank = 0
                  - if f.object.qualities && f.object.qualities[i]
                    - quality_id = f.object.qualities[i]['id']
                    - rank = f.object.qualities[i]['rank']
                  .col-sm-6
                    = select_tag "adversary[weapons_attributes][#{f.index}][qualities][][id]", options_from_collection_for_select(ItemQuality.all, "id", "name", quality_id), include_blank: true, class: 'form-control'
                  .col-sm-2
                    = f.label :rank
                  .col-sm-2
                    = number_field_tag("adversary[weapons_attributes][#{f.index}][qualities][][rank]", value = rank, options = {class: 'form-control'})

  .col-sm-2
    = link_to_remove_association "Remove Weapon", f, class: 'btn btn-sm btn-danger'

= tinymce
