.container
  .row
    .col-sm-12
      %h1.display-4
        Editing Adversary
  .row
    .col-sm-10.pb-3
      = render 'form', adversary: @adversary
    .col-sm-2
      .btn-group.w-100{ role: 'group' }
        = link_to 'Back', adversaries_path, class: 'btn btn-secondary'
        = link_to 'Show', @adversary, class: 'btn btn-info'
