- content_for :title do
  = "Index "

.container
  .row
    .col
      %h1 Adversaries
      %p#notice= notice
  =#.row
  =#  .col
  =#    = render "facets", path: adversaries_path, facets: @adversaries.aggs
  .row
    .col-sm-8
      %table.table.table-striped.table-bordered.table-hover#adversaries-index
        %thead.thead-dark
          %tr
            %th Name
            %th= image_tag('icons/svg/challenge_rating_combat.svg', size: '30', class: 'challenge-rating combat-rating')
            %th= image_tag('icons/svg/challenge_rating_social.svg', size: '30', class: 'challenge-rating social-rating')
            %th= image_tag('icons/svg/challenge_rating_general.svg', size: '30', class: 'challenge-rating general-rating')
            %th Settings
            / <th>Tags</th>
        %tbody
          =#- @adversaries.each do |adversary|
          =#  %tr
          =#    %td
          =#      = link_to(adversary.name, adversary)
          =#      %span{:class => "badge badge-#{adversary.adversary_type.downcase}"}= adversary.adversary_type
          =#    %td
          =#      = adversary.settings.to_sentence(last_word_connector: ', ', two_words_connector: ', ')
      =# paginate @adversaries, theme: 'twitter-bootstrap-4'
    .col-sm-4
      #tag_cloud.card.mb-3
        .card-header
          = icon 'fas', "book"
          Settings
        .card-block.p-2
          - tag_cloud Adversary.setting_counts, ['small badge-secondary', 'medium badge-info', 'large badge-primary', 'great badge-success'] do |tag, css_class|
            =# link_to "#{truncate(tag.name, length: 20)} (#{tag.taggings_count})", "/adversaries?search[tags][]=#{tag.name}", class: "badge badge-secondary #{css_class}"
            = link_to "#{truncate(tag.name, length: 20)} (#{tag.taggings_count})", tag_path(tag.name), class: "badge #{css_class} m-1"
      #tag_cloud.card.mb-3
        .card-header
          = icon 'fas', "tags"
          Types
        .card-block.p-2
          - tag_cloud Adversary.type_counts, ['small badge-secondary', 'medium badge-info', 'large badge-primary', 'great badge-success']  do |tag, css_class|
            = link_to "#{truncate(tag.name, length: 20)} (#{tag.taggings_count})", tag_path(tag.name), class: "badge #{css_class} m-1"
      #tag_cloud.card.mb-3
        .card-header
          = icon 'fas', "tags"
          Alle Tags
        .card-block.p-2
          - tag_cloud Adversary.tag_counts, ['small badge-secondary', 'medium badge-info', 'large badge-primary', 'great badge-success']  do |tag, css_class|
            = link_to "#{truncate(tag.name.html_safe, length: 20)} (#{tag.taggings_count})", tag_path(tag.name), class: "badge #{css_class} m-1"
      - if can? :manage, Adversary
        = link_to 'New Adversary', new_adversary_path
