- content_for :title do
  = "#{@adversary.name} [#{@adversary.adversary_type}] | "

.container
  .row
    .col-12
      %h1
        = @adversary.name
        %span#minion-count{data: {value: 1, dead: 0}}
        %small
          %small
            %span.badge.great.badge-info#adversary-type{data: {value: @adversary.adversary_type}, class: "tag-#{@adversary.adversary_type.downcase}"}= @adversary.adversary_type
  .row
    .col-12.col-sm-3
      .row#challenge-ratings
        - unless @adversary.combat_rating.nil?
          .col-4.mb-1#combat-rating{data: {value: @adversary.combat_rating}}
            .card.text-center
              .card-block
                = image_tag('icons/svg/challenge_rating_combat.svg', size: '45')
                %h4.mb-0.card-title= @adversary.combat_rating
        - unless @adversary.social_rating.nil?
          .col-4.mb-1#social-rating{data: {value: @adversary.social_rating}}
            .card.text-center
              .card-block
                = image_tag('icons/svg/challenge_rating_social.svg', size: '45')
                %h4.mb-0.card-title= @adversary.social_rating
        - unless @adversary.general_rating.nil?
          .col-4.mb-1#general-rating{data: {value: @adversary.general_rating}}
            .card.text-center
              .card-block
                = image_tag('icons/svg/challenge_rating_general.svg', size: '45')
                %h4.mb-0.card-title= @adversary.general_rating
      .row#characteristics
        .col-4.mb-1#brawn
          .card.text-center
            = image_tag('StatBlockBrawn.svg')
            .card-block
              %h4.card-title= @adversary.brawn
        .col-4.mb-1#agility
          .card.text-center
            = image_tag('StatBlockAgility.svg')
            .card-block
              %h4.card-title= @adversary.agility
        .col-4.mb-1#cunning
          .card.text-center
            = image_tag('StatBlockCunning.svg')
            .card-block
              %h4.card-title= @adversary.cunning
        .col-4.mb-1#intellect
          .card.text-center
            = image_tag('StatBlockIntellect.svg')
            .card-block
              %h4.card-title= @adversary.intellect
        .col-4.mb-1#willpower
          .card.text-center
            = image_tag('StatBlockWillpower.svg')
            .card-block
              %h4.card-title= @adversary.willpower
        .col-4.mb-1#presence
          .card.text-center
            = image_tag('StatBlockPresence.svg')
            .card-block
              %h4.card-title= @adversary.presence
      .row#vitals
        .col-6.mb-1#soak
          .card.text-center
            = image_tag('StatBlockSoak.svg')
            .card-block
              %h4.card-title= @adversary.soak
        .col-6.mb-1#wound-threshold
          .card.text-center
            = image_tag('StatBlockWounds.svg')
            .card-block#wounds{data: {value: @adversary.wound_th}}
              %h4.card-title= @adversary.wound_th
        .col-6.mb-1#defenses
          .card.text-center
            = image_tag('StatBlockDefense.svg')
            .card-block#melee-def
              .h4.card-title{data: {value: @adversary.defense_melee}}= @adversary.defense_melee
            .card-block#ranged-def
              .h4.card-title{data: {value: @adversary.defense_ranged}}= @adversary.defense_ranged
        - if @adversary.adversary_type == 'Minion'
          .col-6.mb-1#wound-threshold
            .card.text-center
              = image_tag('StatBlockGroupWounds.svg')
              .card-block#group_wounds{data: {value: @adversary.wound_th}}
                %h4.card-title= @adversary.wound_th
        - if @adversary.adversary_type == 'Nemesis'
          .col-6.mb-1#strain-threshold
            .card.text-center
              = image_tag('StatBlockStrain.svg')
              .card-block
                %h4.card-title= @adversary.strain_th
      -#.row
      -#  .col-12.mb-1
      -#    .card.text-center
      -#      .card-header.bg-info
      -#        %strong
      -#          = icon('fas', 'shield-alt')
      -#          Defense
      -#      .card-group
      -#        .card
      -#          .card-block
      -#            .h4.card-title#melee-def{data: {value: @adversary.defense_melee}}= @adversary.defense_melee
      -#            .h5 Melee
      -#        .card
      -#          .card-block
      -#            .h4.card-title#ranged-def{data: {value: @adversary.defense_ranged}}= @adversary.defense_ranged
      -#            .h5 Ranged
      .row
        .col-12.mb-1.mt-2.text-center
          %h4
            = icon('fas', 'fist-raised')
            Combat Tracker
          - if @adversary.adversary_type == 'Minion'
            %small Adding more minions will reset the combat tracker
          .card-group
            .card
              .card-header.bg-info
                %strong Strain
              .card-block.p-1
                .input-group.mb-1
                  .input-group-prepend
                    %a.float-sm-right.btn.btn-outline-warning.btn-sm#strain-decrease{role: 'button'}
                      = icon 'fas', "minus"
                  %input#current-strain.form-control.text-center{"aria-label" => "Current strain", type: "text", value: 0}
                  .input-group-append
                    %a.float-sm-right.btn.btn-warning.btn-sm#strain-increase{role: 'button'}
                      = icon 'fas', "plus"
            .card
              .card-header.bg-info
                %strong Wounds
              .card-block.p-1
                .input-group.mb-1
                  .input-group-prepend
                    %a.float-sm-right.btn.btn-outline-warning.btn-sm#wound-decrease{role: 'button'}
                      = icon 'fas', "minus"
                  %input#current-wounds.form-control.text-center{"aria-label" => "Current wounds", type: "text", value: 0}
                  .input-group-append
                    %a.float-sm-right.btn.btn-warning.btn-sm#wound-increase{role: 'button'}
                      = icon 'fas', "plus"
          .card-group
            .card
              .card-header.bg-info
                %strong Criticals
              .card-block.p-1
                .input-group.mb-1
                  .input-group-prepend
                    %a.float-sm-right.btn.btn-outline-warning.btn-sm#critical-decrease{role: 'button'}
                      = icon 'fas', "minus"
                  %input#current-criticals.form-control.text-center{"aria-label" => "Criticals", type: "text", value: 0}
                  .input-group-append
                    %a.float-sm-right.btn.btn-warning.btn-sm#critical-increase{role: 'button'}
                      = icon 'fas', "plus"
          .card-group
            .card
              .card-header.bg-info
                %strong States and Effects
              .card-block.p-1.text-left#states
                .row
                  .col-6
                    .custom-control.custom-switch
                      %input#switchStateDisorient.custom-control-input{:type => "checkbox", data: {state: 'disorient'}}
                      %label.custom-control-label{:for => "switchStateDisorient"} Disoriented
                    .custom-control.custom-switch
                      %input#switchStateStagger.custom-control-input{:type => "checkbox", data: {state: 'stagger'}}
                      %label.custom-control-label{:for => "switchStateStagger"} Staggered
                    .custom-control.custom-switch
                      %input#switchStateImmobilize.custom-control-input{:type => "checkbox", data: {state: 'immobilize'}}
                      %label.custom-control-label{:for => "switchStateImmobilize"} Immobilized
                    .custom-control.custom-switch
                      %input#switchStateProne.custom-control-input{:type => "checkbox", data: {state: 'prone'}}
                      %label.custom-control-label{:for => "switchStateProne"} Prone
                  .col-6
                    .custom-control.custom-switch
                      %input#switchStateInCover.custom-control-input{:type => "checkbox", data: {state: 'cover'}}
                      %label.custom-control-label{:for => "switchStateInCover"} In Cover
                    .custom-control.custom-switch
                      %input#switchStateOffBalance.custom-control-input{:type => "checkbox", data: {state: 'off-balance'}}
                      %label.custom-control-label{:for => "switchStateOffBalance"} Off Balance
                    .custom-control.custom-switch
                      %input#switchStateMaim.custom-control-input{:type => "checkbox", data: {state: 'maimed'}}
                      %label.custom-control-label{:for => "switchStateMaim"} Maimed
                    .custom-control.custom-switch
                      %input#switchStateBlind.custom-control-input{:type => "checkbox", data: {state: 'blind'}}
                      %label.custom-control-label{:for => "switchStateBlind"} Blinded
                .row
                  .col-12
                    %ul#states-info

      .row
        .col-12
          .btn-group.w-100{ role: 'group' }
            = link_to "#{icon('fas', "angle-double-left")} Back".html_safe, adversaries_path, class: 'btn btn-secondary btn-sm'
            - if can? :manage, Adversary
              = link_to "#{icon('fas', "edit")} Edit".html_safe, edit_adversary_path(@adversary), class: 'btn btn-warning btn-sm'
              = link_to "#{icon('fas', "trash-alt")} Delete".html_safe, @adversary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
          %hr
      .row.mb-2
        .col-12
          %h5.mb-0= "#{icon('fas', "book")} Settings".html_safe
          =# @adversary.setting_list.map{ |t| link_to t, tag_path(t)}.join(', ').html_safe
          = @adversary.setting_list.map{ |t| link_to "#{t} ", tag_path(t), class: "badge medium badge-info mr-1"}.join('').html_safe
      .row.mb-2
        .col-12
          %h5.mb-0= "#{icon('fas', "tags")} Tags".html_safe
          =# @adversary.tag_list.map{ |t| link_to t, tag_path(t)}.join(', ').html_safe
          = @adversary.tag_list.map{ |t| link_to "#{t} ", tag_path(t), class: "badge medium badge-success mr-1"}.join('').html_safe
      .row
        .col-12
          = image_tag @adversary.image_url, width: '100%'
          = @adversary.description.html_safe
    .col-12.col-sm-9
      .row
        .col-3.col-sm-7
          %h4 Skills
        .col-6.col-sm-3
          - if @adversary.adversary_type == 'Minion'
            %a.float-sm-right.btn.btn-warning.btn-sm#minion-increase{role: 'button'}
              = icon 'fas', "plus"
            %a.float-sm-right.btn.btn-outline-warning.btn-sm#minion-decrease{role: 'button'}
              = icon 'fas', "minus"
            %span.float-sm-right
              =raw "Add minions &nbsp;"
        .col-3.col-sm-2
          %a.float-sm-right.btn.btn-outline-info.btn-sm#skill-toggle{role: 'button'}
            = icon 'fas', "expand-alt"
            All skills
      .row
        .col-12
          %table.table.table-striped.table-hover#ranked-skill-list
            %thead.thead-dark
              %tr
                %th
                  Skill
                  = "(groups only)" if @adversary.adversary_type == 'Minion'
                %th Stat
                %th Rank
                %th Roll
                %th
            %tbody
              - @adversary.ordered_skill_list_trained.each_with_index do |(key, skills), index|
                - skills.each do |adversary_skill|
                  %tr{data: {'group-only': adversary_skill[:group], skill: {name: adversary_skill[:name], ranks: adversary_skill[:ranks], score: @adversary.send(adversary_skill[:characteristic].downcase)}}}
                    %td= adversary_skill[:name]
                    %td= adversary_skill[:characteristic]
                    %td.ranks= adversary_skill[:ranks] unless adversary_skill[:ranks].nil?
                    %td.pool= render partial: "dice_pool", locals: {:score => @adversary.send(adversary_skill[:characteristic].downcase), ranks: adversary_skill[:ranks]}
                    %td.text-right.roll= render partial: "dice_roll_button", locals: {:score => @adversary.send(adversary_skill[:characteristic].downcase), ranks: adversary_skill[:ranks]}

          %table.table.table-striped.table-hover#full-skill-list
            %tbody
              - @adversary.ordered_skill_list.each_with_index do |(key, skills), index|
                - if skills.any?
                  %thead.thead-dark
                    %tr
                      %th
                        = key.to_s.capitalize
                        Skills
                      %th Stat
                      %th Rank
                      %th Roll
                      %th
                - skills.each do |adversary_skill|
                  %tr{data: {'group-only': adversary_skill[:group], skill: {name: adversary_skill[:name], ranks: adversary_skill[:ranks], score: @adversary.send(adversary_skill[:characteristic].downcase)}}}
                    %td= adversary_skill[:name]
                    %td= adversary_skill[:characteristic]
                    %td.ranks= adversary_skill[:ranks] unless adversary_skill[:ranks].nil?
                    %td.pool= render partial: "dice_pool", locals: {:score => @adversary.send(adversary_skill[:characteristic].downcase), ranks: adversary_skill[:ranks]}
                    %td.text-right.roll= render partial: "dice_roll_button", locals: {:score => @adversary.send(adversary_skill[:characteristic].downcase), ranks: adversary_skill[:ranks]}
      - if @adversary.weapons && @adversary.weapons.any?
        .row
          .col-12
            %h4 Weapons
            %table.table.table-striped.table-hover
              %thead.thead-dark
                %tr
                  %th Weapon
                  %th Range
                  %th Damage
                  %th Crit
                  %th Roll
                  %th Special
                  %th
              %tbody
                - @adversary.attacks.each do |weapon|
                  =# weapon
                  %tr{data: {'group-only': weapon[:skill][:group], skill: {ranks: weapon[:skill][:ranks], score: @adversary.send(weapon[:skill][:characteristic].downcase)}}}
                    %td
                      = weapon[:name]
                      %br
                      %small= weapon[:skill][:name]
                    %td= weapon[:range]
                    %td= weapon[:damage]
                    %td= weapon[:critical]
                    %td.pool
                      = render partial: "dice_pool", locals: {:score => @adversary.send(weapon[:skill].characteristic.downcase), ranks: weapon[:ranks]}
                    %td= text_replace_tokens(weapon[:qualities].map { |q| q[:text].to_s }.to_sentence)
                    %td.text-right.roll= render partial: "dice_roll_button", locals: {:score => @adversary.send(weapon[:skill].characteristic.downcase), ranks: weapon[:ranks], difficulty: weapon[:min_diff]}

        - if @adversary.qualities_list.any?
          .row
            .col-12
              %h3 Item Qualities
              %dl.dl-striped.row.mx-0
                - @adversary.qualities_list.each do |quality|
                  %dt.col-sm-3
                    %h6= quality.name
                  %dd.col-sm-9= text_replace_tokens(quality.description)
      - if @adversary.talents && @adversary.talents.any?
        .row
          .col-12
            %h3 Talents
            %dl.dl-striped.row.mx-0
              - @adversary.talent_list.each do |at|
                %dt.col-sm-3
                  %h6
                    = "#{at[:talent].name}"
                    - if at[:ranks] > 0
                      = "(#{at[:ranks]})"
                %dd.col-sm-9= talent_replace_tokens(at[:talent].description)
      - if @adversary.abilities && @adversary.abilities.any?
        .row
          .col-12
            %h3 Abilities
            %dl.dl-striped.row.mx-0
              - @adversary.abilities.each do |ability|
                %dt.col-sm-3
                  %h6= ability.name
                %dd.col-sm-9= text_replace_tokens(ability.description)

      - if @adversary.spells.any?
        .row
          .col-12
            %h3 Spells
            %dl.dl-striped.row.mx-0
              - @adversary.spells.each do |spell|
                %dt.col-sm-3
                  %h6= spell.name
                %dd.col-sm-9= text_replace_tokens(spell.description)

      - unless strip_tags(@adversary.equipment).blank?
        .row
          .col-12
            %h4 Equipment
            = @adversary.equipment.html_safe

#rollModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Roll the dice
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %iframe#rollFrame{:src => "https://rpg-dice-roller.herokuapp.com", width: "100%", height: "100%", style: "border: none;"}

#roll-content