- if flash[:error]
  .alert.alert-danger{ role: "alert" }
    = h flash[:error].html_safe
- if flash[:notice]
  .alert.alert-warning{ role: "alert" }
    = h flash[:notice].html_safe
- if flash[:success]
  .alert.alert-success{ role: "alert" }
    = h flash[:success].html_safe
- if flash[:alert]
  .alert.alert-danger{ role: "alert" }
    = h flash[:alert].html_safe
