%footer.footer
  .footer-block.buttons
    %iframe.footer-github-btn{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true", :width => "140px"}
  .footer-block.author
    %ul
      %li
        created by
        %a{:href => "https://github.com/modularcode"} ModularCode
      %li
        %a{:href => "https://github.com/modularcode/modular-admin-html#get-in-touch"} get in touch