%header
  / Fixed navbar
  %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    %a.navbar-brand{:href => "/"} Genesys - Adversary Bank
    %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item{ class: current_class?(root_path) }
          =# link_to 'Home', root_path, class: 'nav-link'
        - if user_signed_in?
          %li.nav-item{ class: current_class?(me_path) }
            = link_to 'Profile', me_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Sign out', logout_path, class: 'nav-link'
            / Right Nav Section
      %ul.right.navbar-nav
        %li.nav-item
          = link_to 'RPG Dice Roller', 'http://rpg-dice-roller.herokuapp.com/genesys', target: "_blank", class: 'nav-link'
        %li.nav-item{class: ("active" if current_page('updates'))}
          #{link_to 'Updates', updates_path, class: 'nav-link'}
        %li.nav-item{class: ("active" if current_page('about'))}
          #{link_to 'About', about_path, class: 'nav-link'}
        /%li= render 'layouts/paypal_donate'
        %li.nav-item= render 'layouts/patreon'
        %li.nav-item
          .nav-link or
        %li.nav-item= render 'layouts/kofi_donate'

        =#%form.form-inline.mt-2.mt-md-0
        =#  %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
        =#  %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
