%li.profile.dropdown
  %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    - if current_user.respond_to? :gravatar_url
      = image_tag current_user.gravatar_url, class: 'img'
    %span.name
      = current_user.username
  .dropdown-menu.profile-dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %a.dropdown-item{:href => "/me"}
      %i.fa.fa-user.icon
      Profile
    /%a.dropdown-item{:href => "#"}
    /  %i.fa.fa-bell.icon
    /  Notifications
    /%a.dropdown-item{:href => "#"}
    /  %i.fa.fa-gear.icon
    /  Settings
    .dropdown-divider
    %a.dropdown-item{:href => "/logout"}
      %i.fa.fa-power-off.icon
      Logout