%nav.col-md-2.d-none.d-md-block.bg-dark.navbar-dark.sidebar.d-print-none#NavBarLeft
  /%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.sidebar
  .sidebar-sticky
    %ul.nav.flex-column
      =#%li.nav-item= link_to "#{image_tag('icons/svg/skill.svg', class: 'menu-item-icon')} Skills".html_safe, skills_path, class: "nav-link #{current_class?(skills_path)}"
      =#%li.nav-item= link_to "#{image_tag('icons/svg/talent.svg', class: 'menu-item-icon')} Talents".html_safe, talents_path, class: "nav-link #{current_class?(talents_path)}"
      =#%li.nav-item= link_to "#{image_tag('icons/svg/elf.svg', class: 'menu-item-icon')} Races".html_safe, archetypes_path, class: "nav-link #{current_class?(archetypes_path)}"
      =#%li.nav-item= link_to "#{image_tag('icons/svg/class.svg', class: 'menu-item-icon')} Careers".html_safe, careers_path, class: "nav-link #{current_class?(careers_path)}"
      =#%li.nav-item= link_to "#{image_tag('icons/svg/carrot-and-stick.svg', class: 'menu-item-icon')} Motivations".html_safe, motivations_path, class: "nav-link #{current_class?(motivations_path)}"

    - if current_user.superadmin_role
      %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
        %span Gensys Admin
      %ul.nav.flex-column.mb-2
        =#%li.nav-item= link_to "#{image_tag('icons/svg/friendship.svg', class: 'menu-item-icon')} Manage Users".html_safe, users_path, class: "nav-link"
        =#%li.nav-item= link_to "#{image_tag('icons/svg/adventurer.svg', class: 'menu-item-icon')} Manage Characters".html_safe, characters_path, class: "nav-link"
    =# 'Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"          title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>'.html_safe
