!!!
%html.no-js{:lang => "en"}
  %head
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Place favicon.ico in the root directory
    %title
      = content_for?(:title) ? yield(:title) : (@title ? @title : "")
      | Adversaries of Genesys
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", media: 'print'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"}

    = javascript_include_tag 'tinymce'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "select2-bootstrap4.min", media: 'all'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}

  %body{:class => "#{controller_name} #{action_name}"}
    -# if user_signed_in?
    -# if current_page?(root_path) || current_page?(adversaries_path) || current_page?(adversary_path)
    - if user_signed_in? || ['adversaries', 'skills', 'talents', 'pages', 'generators'].include?(params[:controller])
      = render partial: 'layouts/header'
      .container-fluid
        .row
          =# render partial: 'layouts/sidebar'
          %main.col-md-12.ml-sm-auto.col-lg-12.px-4{:role => "main"}
            /= render partial: 'layouts/flash'
            = yield
    - else
      = yield
    / Optional JavaScript
    / jQuery first, then Popper.js, then Bootstrap JS
    %script{:charset => "utf8", :src => "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js", :type => "text/javascript"}
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'jquery.knob'
    :javascript
      feather.replace()