!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .modal-header
      %h5#exampleModalLabel.modal-title= @modal_title
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    = yield

    /.row
    /  .small-11.columns
    /    = yield
    /  .small-1.columns
    /    %button.close-button{"aria-label" => "Close reveal", "data-close" => "", :type => "button"}
    /      %span{"aria-hidden" => "true"} &times;
